* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 10px;
    color: #fff;
}

.logo {
    height: 60px;
    width: 60px;
    border-radius: 100%;
}

img {
    height: 600px;
    width: 100%;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin-left: 150px;
}

nav ul a {
    color: #fff;
    text-decoration: none;
}





footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
}

.redes-sociales a {
    margin: 0 10px;
    color: white;
    text-decoration: none;
}
